body{
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.App {
 
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: white;
  
}
.container{

  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  height: 600px;
}
ul{
  
  list-style: none;
  
}
 li{
  
  text-align: start;
  padding: 10px;
 }

 .btn-bottom{
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  width: 355px;
  cursor: pointer;
  background-color: #33AEFF;
  color: white;
 }

 .sub_title{
  font-weight: bolder;
  font-size: 30px;
 }

 .title{
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.5;
  
 }

 